{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a class="active" href="/account">Account</a>
    <a href="/admin">Admin</a>
</div>



<h2>Account Information</h2>
<hr>

<table style="width: 600px;">
    <thead>
        <th>Detail</th>
        <th>Value</th>
    </thead>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>






{% endblock %}