{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/account">Account</a>
    <a class="active" href="/admin">Admin</a>
</div>

<h2>Administrative Controls</h2>

<center>

<a href="/addbook"> ADD BOOKS TO REPOSITORY</a>
<br><br><br>
<a href="/modifybook"> MODIFY EXISTING BOOKS</a>
<br><br><br>

<a href="/viewusers"> VIEW USER ACCOUNTS</a>
<br><br><br>
<h3><a href="/adduser"> ADD NEW USER</a></h3>
<br><br><br>

<a href="/viewsales"> VIEW SALES</a>
<br><br><br>
<a href="/viewcommissions"> VIEW COMMISSION PAYMENTS</a>
<br><br><br>

</center>


{% endblock %}