{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/cart">Cart</a>
    <a class="active" href="/orders">Orders</a>
    <a href="/account">Account</a>
    <a href="/admin">Admin</a>
</div>

<h2>Orders</h2>
<hr>



<table style="width: 600px;">
    <thead>
        <th>Order Number</th>
        <th>Customer ID</th>
        <th>Year</th>
        <th>Month</th>
        <th>Day</th>
        <th>Country</th>
        <th>Total</th>
        <th>Courier</th>
        <th>Tracking Number</th>
        <th>Transaction ID</th>
    </thead>
    {% for item in orders %}
    <tr>
        <td><a href="/orderdetails">{{item[0]}}</a></td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[14]}}</td>
        <td>{{item[20]}}</td>
        <td>{{item[15]}}</td>
        <td>{{item[16]}}</td>
        <td>{{item[23]}}</td>
    </tr>
{% endfor %}
</table>




{% endblock %}