{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/cart">Cart</a>
    <a class="active" href="/orders">Orders</a>
    <a href="/account">Account</a>
    <a href="/admin">Admin</a>
</div>

<h2>Orders</h2>




<table style="width: 600px;">
    <thead>
        <th>Order Number</th>
        <th>Customer ID</th>
        <th>Date</th>
        <th>Total</th>
        <th>Tracking Number</th>
    </thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>




{% endblock %}