{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/account">Account</a>
    <a class="active" href="/admin">Admin</a>
</div>

<h2>Commission Payments</h2>

<center>
<h3><a href="/addcommpayment"> ADD EXTERNAL PAYMENT</a></h3>
</center>
<br><br>

<table style="width: 900px;">
    <thead>
        <th>Payment ID</th>
        <th>Publisher ID</th>
        <th>Transaction Number</th>
        <th>Amount Paid</th>
        <th>Year</th>
        <th>Month</th>
        <th>Day</th>
    </thead>
{% for item in commissions %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
    </tr>
{% endfor %}
</table>




{% endblock %}